$base00: #0f0f0f;
$base01: #191919;
$base02: #262626;
$base03: #4c4c4c;
$base04: #ac8a8c;
$base05: #cacaca;
$base06: #e7e7e7;
$base07: #f0f0f0;
$base08: #ac8a8c;
$base09: #ceb188;
$base0A: #aca98a;
$base0B: #8aac8b;
$base0C: #8aabac;
$base0D: #8f8aac;
$base0E: #ac8aac;
$base0F: #ac8a8c;


* {
  all: unset;
}

window {
  background: $base00;
  color: $base05;
  font-size: 14px;

  &>* {
    margin: 3px;
  }

  font-family: "JetBrainsMono Nerd Font";
}

.workspaces {
  button {
    background: none;
    margin: 3px;
    padding-left: 1px;

    &.inactive {
      color: $base03;
    }

    &.active {
      color: $base0D;
    }

    &.occupied {
      font-size: 1.01rem;
    }

    &.empty {
      font-size: 0.8rem;
    }
  }
}

.segment-top {
  margin-top: 10px;
  // border: 1px solid red;
}

.segment-bottom {
  margin-bottom: 10px;
}

.network-metric {
  background-color: $base01;
  color: $base05;
  border-radius: 5px;
  padding: 0;
}

.volume-metric {
  background-color: $base01;
  color: $base05;
  border-radius: 5px;
  padding: 0;

  .volume-top>scale {
    margin-bottom: 5px;
  }

  slider {
    all: unset;
  }

  scale trough highlight {
    all: unset;
    //background-color: #8ec07c;
    background-color: $base0D;
    border-bottom-right-radius: 5px;
  }

  scale trough {
    all: unset;
    background-color: $base01;
    min-width: 34px;
    min-height: 2px;
  }
}

.large-symbol {
  font-size: 0.8em;
}

.metric {
  background-color: $base01;
  border-radius: 5px;
  padding: 5px 2px;
}

.metric-icon {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 0.8em;
}

.time {
  padding-top: 7px;
  padding-bottom: 7px;
  color: $base05;
}

.systray {
  padding: 0px;
  margin: 0px;
}

// System Tray
menu {
  padding: 5px 5px;
  background-color: $base01;


  >menuitem {
    font-size: 14px;
    padding: 2px 5px;
    //color: $foreground;

    &:disabled label {
      color: $base0D;
    }

    &:hover {
      background-color: $base02;
    }
  }

  separator {
    padding-top: 1px;

    &:last-child {
      padding: unset;
    }
  }
}
